/* 
reset sheet
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    color: inherit;
}
.clear {
    clear: both;
}


/* main */
header{
    width: 100%;
    height: 100px;
    background: white;
    color: #1D00FF;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header img{
    float: left;
    margin: 25px 0 25px 140px;
    height: 50px;
}

header a{
    text-decoration: none;
}

header ul{
    float: right;
    margin-right: 12.5%;
}
header ul li{
    float: left;
    margin-left: 125px;
    line-height: 100px;
    text-transform: uppercase;
}

.hImage{
    margin-top: 100px;
    height: 600px;
    overflow: hidden;
}

.hImage img{
    margin-top: -200px;
}

.fade{
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: linear-gradient( rgb(29, 0, 255,0.85), rgb(0, 118, 255,0.85));
}

.introtxt{
    width: 1000px;
    margin: 60px auto;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3.75em;
    color: white;
    line-height: 80px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3.75em;
    color: #1D00FF;
    line-height: 80px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.375em;
    line-height: 35px;
    color: white;
}

.introtxt h3{
    margin-top: 25px;
}

h4{
    line-height: 75px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #1D00FF;
}

h5{
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

#vids{
    background-color: white;
    position: relative;
    width: 1200px;
    height: 1300px;
    margin: -140px auto;
}

.video-js .vjs-big-play-button {
display: none;
}

.video-js .vjs-control-bar {
    display: none;
}

.play{
    position: absolute;
    width: 90px;
    margin: -29% 0 0 42%;
    opacity: 0;
}

.rewind{
    position: absolute;
    width: 60px;
    margin: -28% 0 0 32%;
    opacity: 0;
}

.check{
    position: absolute;
    width: 60px;
    margin: -28% 0 0 54.5%;
    opacity: 0;
}

.pad{
    padding-top: 20px;
    margin-left: 5%;
}

#accordion{
    width: 90%;
    margin: 0 auto;
}

.vidWrap{
    overflow: hidden;
}

.ui-accordion-header{
    border: 1px solid #EBEBEB;
}

.ui-accordion-header h4{
    color: #4B4B4B;
}

.ui-accordion-header-active{
    border: 1px solid #1D00FF;
}

.ui-accordion-header-active h4{
    color: #1D00FF;
}

.ui-accordion-header .gDriehoek{
    float: left;
    margin: 23px 40px 0 20px;  
    content: url(../img/tr-grey.svg);
}

.ui-accordion-header-active .gDriehoek{
    float: left;
    margin: 17px 40px 0 20px; 
    content: url(../img/tri-blue.svg);
}

.dark .ui-accordion-header .gDriehoek{
    float: left;
    margin: 23px 40px 0 20px;  
    content: url(../img/tri-light-grey.svg);
}

.dark .ui-accordion-header-active .gDriehoek{
    float: left;
    margin: 17px 40px 0 20px; 
    content: url(../img/tri-light.svg);
}

.vinkje1{
    float: left;
    height: 40px;
    position: relative;
    margin: -55px 0 0 325px;
    opacity: 0;
}

.vinkje2{
    float: left;
    height: 40px;
    position: relative;
    margin: -55px 0 0 400px;
    opacity: 0;
}

.vinkje3{
    float: left;
    height: 40px;
    position: relative;
    margin: -55px 0 0 375px;
    opacity: 0;
}

.vinkje4{
    float: left;
    height: 40px;
    position: relative;
    margin: -55px 0 0 325px;
    opacity: 0;
}

.vinkje5{
    float: left;
    height: 40px;
    position: relative;
    margin: -55px 0 0 450px;
    opacity: 0;
}

.intro{
    float: right;
    height: 40px;
    position: relative;
    margin: -55px 40px 0 0;
}

.download{
    float: right;
    height: 40px;
    position: relative;
    margin: -55px 220px 0 0;
}

.workshop{
    float: right;
    height: 40px;
    position: relative;
    margin: -55px 40px 0 0;
}

.player-dimensions{
    width: 1080px;
    height: 610px;
}

#support{
    position: relative;
    width: 1080px;
    height: 820px;
    margin: 0 auto;
}

.persoon{
    float: left;
    width: 50%;
    height: 160px;
    margin-top: 50px;
}

.circle{
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 90px;
    background-color: #1D00FF;
    overflow: hidden;
}

.pf1{
    margin-left: -50px;
}

.pf2{
    margin-top: -40px;
}

.pf3{
    margin-left: -50px;
}

.pf4{
    margin-top: -90px;
    margin-left: -20px
}

.naam{
    float: left;
    margin: 30px 0 0 20px;
    font-weight: bold;
    color: #1D00FF; 
}

.grey{
    float: left;
    color: #4B4B4B;
    margin-left: 20px;
    font-weight: 400;
}

.mail{
    float: left;
    width: 115px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    line-height: 40px;
    text-align: center;
}

#uitdaging{
    position: absolute;
    float: left;
    height: 450px;
    width: 100%;
    background-image:linear-gradient(to right, rgb(255, 175, 227,0.85), rgb(204, 0, 133, 0.85));
}

#uitdaging h2{
    color: white;
    text-align: center;
    margin-top: 50px;
}

#uitdaging h3{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.kom{
    float: left;
    width: 270px;
    height: 55px;
    border-radius: 10px;
    margin: 50px 40% 0 40%;
    background-color: #1D00FF;
    text-decoration-line: none;
    text-align: center;
    line-height: 55px;
}

.kom h5{
    color: #FFAFE3;
}

.fImage{
    height: 450px;
    overflow: hidden;
}

.fImage img{
    margin-top: -100px; 
}

#footer{
    float: left;
    height: 125px;
    width: 100%;
    background-color: black;
}

#footer h5{
    float: right;
    line-height: 125px;
    margin-right: 20px;
}

.switch{
    position: relative;
    float: right;
    background-color: #EBEBEB;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    margin: 42px 40px 40px 0;
}

.ball{
    position: absolute;
    margin-left: 40px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.zon{
    float: left;
    width: 30px;
    margin: 5px 0 0 5px;
}

.maan{
    float: right;
    width: 25px;
    margin: 7.5px 7.5px 0 0;
}

.dark{
    background-color: black;
    color: white;
}

header.dark img{
    content: url(../img/logo.svg);
}

.dark h4{
    color: white;
}

.dark h2{
    color: white;
}

.darkAc .ui-accordion-header-active{
    background-color: black;
    border-color: #0076FF;
}

.darkAc .ui-accordion-header{
    background-color: black;
    border-color: white;
}

.dark .ui-accordion-header h4{
    color: white;
}

.dark .ui-accordion-header-active h4{
    color: #0076FF;
}

.darkBtn{
    background-color: white;
}

.darkBtn h5{
    color: black;
}

.bgModal {
    position: fixed;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

.modal {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.modal h3{
    line-height: 35px;
    text-align: center;
    color: #1D00FF;
    margin-top: 200px;
}

.modal h4{
    line-height: 75px; 
    text-align: center;
    color: #1D00FF;
}

.like{
    position: absolute;
    display: block;
    margin: 60px 60% 0 40%;
    width: 10px;
}

.close{
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 1.875em;
    transform: rotate(45deg);
    cursor: pointer;
    color: #1D00FF;
}

@media screen and (max-width: 1250px){
    header img{
        margin: 25px 0 25px 5%;
    }

    .introtxt{
        width: 90%;
    }

    #vids{
        max-width: 100%;
    }

    #support{
        max-width: 100%;
        overflow: hidden;
    }

    #support h4 {
        margin-left: 50px;
    }

    #support h2 {
        margin-left: 50px;
    }

    .kom{
        margin: 50px 38% 0 38%;
    }
}

@media screen and (max-width: 1000px){
    .line {
        width: 30px;
        height: 3px;
        background: #1D00FF;
        margin: 5px;
    }

    .dark .line {
        background: white;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        margin-top: 35px;
    }

    .nav-links {
        position: fixed;
        height: 100px;
        width: 100%;
        background: white;
        flex-direction: row;
        z-index: 1;
        margin-top: 100px;
        display: none;
    }

    .dark .nav-links {
        background: black;
    }

    .nav-links li{
        margin: 0 10% 0 10%;
        line-height: 100px;
        text-transform: uppercase;
    }

    .hImage img{
        width: 1000px;
    }

    .introtxt h1{
        font-size: 2.75em;
        line-height: 50px;
    }

    .introtxt h3{
        font-size: 1.25em;
    }

    .play{
        width: 60px;
    }

    .rewind{
        width: 40px;
    }

    .check{
        width: 40px;
    }

    #support{
        height: 1130px;
    }

    h2{
        font-size: 2.75em;
        line-height: 50px;
    }

    #uitdaging h3{
        font-size: 1.25em;
    }

    .clearSmall{
        clear: both;
    }

    .persoon{
        width: 500px;
        margin: 50px 25% 0 20%;
    }

    .kom{
        margin: 50px 35% 0 35%;
    }

    .intro{
        height: 30px;
        margin: -50px 20px 0 0;
    }

    .download{
        height: 30px;
        margin: -50px 150px 0 0;
    }
    
    .workshop{
        height: 30px;
        margin: -50px 20px 0 0;
    }

    .vinkje1{
        height: 30px;
        margin: -50px 0 0 325px;
    }
    
    .vinkje2{
        height: 30px;
        margin: -50px 0 0 400px;
    }
    
    .vinkje3{
        height: 30px;
        margin: -50px 0 0 375px;
    }
    
    .vinkje4{
        height: 30px;
        margin: -50px 0 0 325px;
    }
    
    .vinkje5{
        height: 30px;
        margin: -50px 0 0 450px;
    }

    .fImage img{
        width: 1000px;
    }
}
